<ion-text class="container-fluid custom-scrollbar">
  <ion-text class="row bg_liner">

    <swiper-container slides-per-view="1" loop="true" autoplay="true" autoplay-delay="3000"
      autoplay-disable-on-interaction="false" pagination="true">
      <swiper-slide>
        <img src="../../assets/icon/bg1.png" class="img-fluid" />
      </swiper-slide>

      <swiper-slide>
        <img src="../../assets/icon/bg2.png" class="img-fluid" />
      </swiper-slide>

      <swiper-slide>
        <img src="../../assets/icon/bg3.png" class="img-fluid" />
      </swiper-slide>
    </swiper-container>

    <ion-text>
      <ion-text class="img-section">
        <img src="../../assets/icon/logo.jpg" alt="">
      </ion-text>
      <h1 class="text fw-bold">
        Welcome to your Logistics App!
      </h1>
      <p class="text-start d-4 p-2">Enter your tracking number to get package delivery details.</p>
    </ion-text>
    <ion-button type="submit" class="submit_button mt-3 col-12 p-3" [routerLink]="['/auth']">
      Get Started :-)
    </ion-button>
    <ion-text class="buton_text_down mt-2 mb-4">
      <p>alredy have an account? </p>
      <p><a href="" [routerLink]="['/auth']">login</a></p>
    </ion-text>
  </ion-text>
</ion-text>