.container-fluid_main {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  flex-direction: column;
  line-height: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}
.scrollable-container {
  /* Set this to whatever height you need */
  overflow: auto;
}

span {
  line-height: normal;
}
.bg-banner {
  background-color: rgb(255, 227, 176);
  border: 1px solid rgb(252, 220, 162);
}
.top_Lorry_section {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  justify-content: space-between;

  border-radius: 5px 5px 0px 0px;
}
.Side_Section {
  padding: 10px;
  width: calc(100% / 2);
  max-width: calc(100% / 2);
  display: flex;
  flex-direction: column;
  line-height: 15px;
  font-size: 12px;
  gap: 0px;
}
.text-start {
  line-height: 0px;
  margin: 0px;
}
.Information p {
  font-size: 12px;
  line-height: 10px;
}
.Information .fw-bold span {
  font-weight: 500 !important;
  color: rgb(190, 190, 190) !important;
}

.Consignment_container .Consiger_headding {
  color: #ff8670;
}
.Consignment_container .Consiger_headding_sub {
  color: black;
  font-weight: 700;
  font-size: 13px;
}
.Consiger_headding_Details {
  color: rgb(190, 190, 190) !important;
  font-size: small;
  line-height: normal;
}

/* my-table.component.css */

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px !important;
}

th,
td {
  border: 1px solid #d8d8d8;
  padding: 8px;
  text-align: center;
  font-size: 10px;
}
td {
  color: #a0a0a0;
  line-height: 13px;
}

th {
  background-color: #f3f3f3;
}
ol li {
  font-size: 12px;
}
.Extra_gap {
  height: 100px;
  padding: 10px;
}
.Footer {
  width: calc(100%);
  max-width: calc(100%);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.Footer ion-text {
  width: calc(96% / 2);
  max-width: calc(96% / 2);
  display: flex;
  align-items: center;
}
.Dwonload_button {
  background-color: #ff6347;
  border-radius: 5px;
  color: white;
}
.share_btn {
  color: #ff6347;
  font-size: small;

  padding: 5px;
  border-radius: 5px;
}

.nav-link {
  color: white;
}

.Popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Ensure it's above the overlay */
}
.my_poup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(51, 51, 51, 0.5); /* Black with 50% opacity */
  /* Ensure it's on top of everything else */
}
.fa-times {
  position: absolute;
  top: 11px;
  right: 21px;
  font-size: large;
}
.my_poup p {
  border: 4px solid rgb(14, 167, 0);
  background-color: rgb(14, 167, 0);
  border-radius: 50%;
  padding: 5px;
  height: 50px;
  display: flex;
  font-size: xx-large;
}
.fa-check {
  color: white;
}
.my_poup span {
  line-height: 20px;
  font-size: medium;
  color: rgb(223, 223, 223);
  font-family: cursive;
}
.w-mx {
  width: max-content;
}
