<ion-text class="container-fluid custom-scrollbar">
  <ion-text class="row bg_liner">
    <a href="" class="Back_button" routerLink="/Auth"><img src="../../../assets/icon/back_button.png" height="30px"
        alt="back_button">
    </a>
    <img src="../../../assets/icon/forget_password.png" alt="Description of image" class="m_auto mt-3 mb-3"
      style="width: 350px; height: 250px" />

    <ion-text class="ion-padding Form_content container-fluid">
      <ion-text class="d-flex justify-content-center">
        <hr class="w-25" />
      </ion-text>
      <ion-text class="Header_informer">
        <h2>FORGET PASSWORD</h2>
        <p>Enter email or mobile password reset OTP</p>
      </ion-text>
      <form class="mt-3 mb-5">
        <ion-label class="form-label mb-2">Enter your Email/Num</ion-label>
        <div class="Input_optSection">


          <ion-input type="email" class="form_input" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter your email address / Number" />
        </div>


        <ion-button type="submit" class="submit_button mt-5 col-12" routerLink="/auth/SendOtp">
          Send OTP
        </ion-button>

      </form>
    </ion-text>
  </ion-text>
</ion-text>