.Header_informer{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.Header_informer h2{
    color:  #ff6347;
    font-weight: 500;  
}
.Input_optSection{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 0px;
}

.submit_button{
    margin-top: 140px !important;
}
.native-input.sc-ion-input-md {
    padding-left: 12px !important;
  }
  