.hide-content {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--px));
}
.hide-content ion-text {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  gap: calc(10 * var(--px));
}
.hide-content ion-text .top-content {
  border: calc(1 * var(--px)) solid rgb(255, 142, 101);
  border-radius: calc(5 * var(--px));
  padding: calc(3 * var(--px));
  background-color: rgb(248, 213, 200);
  font-size: var(--fs-12);
}
.input_feild_section {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  margin: calc(0 * var(--px)) calc(0 * var(--px)) calc(-15 * var(--px)) calc(-16 * var(--px));
  font-size: var(--fs-12);
}
.input_feild_section2 {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  flex-direction: column;
  font-size: var(--fs-12);
  line-height: calc(1 * var(--px));
  line-height: normal;
}
.input_feild_section2 p {
  margin: calc(0 * var(--px)) calc(0 * var(--px)) calc(5 * var(--px)) calc(25 * var(--px));
}
.booked-overview {
  display: flex;
  flex-direction: column;
  gap: calc(0 * var(--px));
  line-height: calc(0 * var(--px));
}
.booked-overview ion-text p span {
  font-size: var(--fs-14);
  color: black;
}
.booked-overview ion-text p {
  font-size: var(--fs-14);
  color: rgb(202, 202, 202);
}
.svg_content {
  width: calc(100% - 90%);
  max-width: calc(100% - 90%);
  display: flex;
  justify-content: center;
  margin: calc(10 * var(--px)) calc(0 * var(--px));
  color: rgb(25, 123, 236);
}
.input-content {
  width: calc(100% - 10%);
  max-width: calc(100% - 10%);
  color: rgb(25, 123, 236);
  display: flex;
  align-items: center;
  margin: calc(7 * var(--px)) calc(0 * var(--px));
}

.text_mob {
  color: #ff8670;
  font-weight: 100 !important;
}
.tracking_system {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  flex-direction: column;
  gap: calc(10 * var(--px));
}
.first_tracking {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  justify-content: space-around;
  gap: calc(10 * var(--px));
}
.tracking-time {
  width: calc(100% - 40%);
  max-width: calc(100% - 40%);
  display: flex;
  flex-direction: column;

  h6, p {
    font-size: var(--fs-13) !important;
  }
}
.tracking-time-1 {
  width: calc(100% - 70%);
  max-width: calc(100% - 70%);
  display: flex;
  flex-direction: column;
}
.track-svg {
  width: calc(100% - 80%);
  max-width: calc(100% - 80%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tracking-time-1 h6 {
  font-size: var(--fs-14);
}
.tracking-time-1 p {
  font-size: var(--fs-12);
}

p span {
  color: grey;
}
h6 span {
  color: gray;
  font-weight: 500;
}
.fa-circle-o, .fa-circle {
  color: green;
}
.track-svg span {
  border: calc(1 * var(--px)) dashed green;
  background: white;
  height: calc(50 * var(--px));
  width: fit-content;
  position: relative;
  left: calc(0 * var(--px));
  top: calc(3 * var(--px));
  bottom: calc(2 * var(--px));
}
.solid {
  border: calc(1 * var(--px)) solid green !important;
  background: white;
  height: calc(50 * var(--px));
  width: fit-content;
  position: relative;
  left: calc(0 * var(--px));
  top: calc(3 * var(--px));
  bottom: calc(2 * var(--px));
}
.text-success {
  color: rgb(0, 211, 0);
}

.form_content {
  margin-top: calc(-20 * var(--px));
}

.mt_1 {
  margin: calc(-16 * var(--px)) calc(0 * var(--px)) calc(0 * var(--px)) calc(40 * var(--px));
}