<ion-col class="container-fluid custom-scrollbar">
  <ion-text class="row">
    <ion-row class="dashboard_top mb-2">
      <ion-col class="ptl_section shadow ">
        <ion-text class="ptl_imgsection">
          <img src="../../../assets/icon/interior-large-logistics-warehouse-ai-generative.jpg" alt=""
            style="width: -webkit-fill-available" />
        </ion-text>
        <ion-text class="FormatText px-2">
          <p [routerLink]="['/indexpage/ftlBooking']">Create FTL Order</p>
          <span><a><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </span>
        </ion-text>
      </ion-col>
      <ion-col class="ptl_section shadow ">
        <ion-text class="ptl_imgsection">
          <img src="../../../assets/icon/ptliimage2.jpg" style="width: -webkit-fill-available" alt="" />
        </ion-text>
        <ion-text class="FormatText px-2">
          <p [routerLink]="['/indexpage/ptlBooking']">Create PTL Order</p>
          <span><a><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </span>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="MainCounters_section p-0">
      <ion-card class="content_section shadow ">
        <ion-text class="Counters_tophedding">
          <ion-card-subtitle class="Order_view">Order Overview</ion-card-subtitle>
          <ion-text class="Text_small" [routerLink]="['/indexpage/all-product']">See Order</ion-text>
        </ion-text>
        <ion-text class="Counters_section">
          <ion-text class="Counter">
            <ion-text class="Py_content_text total"><span>
                <i class="fa fa-cubes" aria-hidden="true"></i>
              </span>
              TOTAL</ion-text>
            <ion-text class="Counter_number">10</ion-text>
          </ion-text>
          <ion-text class="Counter">
            <ion-text class="Py_content_text pending"><span>
                <i class="fa fa-clock-o me-1" aria-hidden="true"></i>
              </span>
              PENDING</ion-text>
            <ion-text class="Counter_number">10</ion-text>
          </ion-text>
        </ion-text>
        <ion-text class="Counters_section">
          <ion-text class="Counter">
            <ion-text class="Py_content_text" style="color: rgb(60, 73, 255)"><span>
                <i class="fa fa-check-square-o me-1" aria-hidden="true"></i>
              </span>
              BOOKED</ion-text>
            <ion-text class="Counter_number">10</ion-text>
          </ion-text>
          <ion-text class="Counter">
            <ion-text class="Py_content_text" style="color: indigo"><span>
                <i class="fa fa-rocket me-1" aria-hidden="true"></i>
              </span>
              IN TRANSIT</ion-text>
            <ion-text class="Counter_number">10</ion-text>
          </ion-text>
        </ion-text>
        <ion-text class="Counters_section">
          <ion-text class="Counter">
            <ion-text class="Py_content_text text-success"><span>
                <i class="fa fa-check-square-o me-1" aria-hidden="true"></i>
              </span>
              COMPLETED</ion-text>
            <ion-text class="Counter_number">10</ion-text>
          </ion-text>
          <ion-text class="Counter">
            <ion-text class="Py_content_text text-danger"><span>
                <i class="fa fa-window-close-o me-1" aria-hidden="true"></i>
              </span>
              CANCELLED</ion-text>
            <ion-text class="Counter_number">10</ion-text>
          </ion-text>
        </ion-text>
      </ion-card>
    </ion-row>

    <ion-text class="p-2">
      <ion-text class="Maping_section shadow ">
        <ion-text class="map_continer">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28016.502845213363!2d77.36665289878115!3d28.627878201452216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce55758ca9645%3A0xf89fa8c1f37c1d09!2sDream%20N%20Design%20Interiors!5e0!3m2!1sen!2sin!4v1716189490243!5m2!1sen!2sin"
            class="full-width-map" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </ion-text>
        <ion-text class="Text_mapping_Contnier">
          <ion-text class="Counters_section">
            <ion-text class="g-0">
              <span class="badge transit_badge">In Transit</span>
            </ion-text>
            <ion-text class="">Trip No:LR/2343</ion-text>
          </ion-text>
          <ion-text class="Text_format_colum">
            <ion-text class="Counters_section px-3 mb-1" style="padding: 10px; font-size: smaller;">
              <ion-text>
                <span class="fw-bold">ORD122467269</span>
              </ion-text>
              <ion-text style="display: flex; gap: 1px"><Span><i class="fa fa-file-text-o me-1" aria-hidden="true"></i>
                </Span>
                <p> 4,27,300 | PREPAID</p>
              </ion-text>
            </ion-text>
            <hr style="width: 91%; margin: auto" />
            <ion-text class="Counters_section px-3 mt-1">
              <ion-text class="Loaction_divide_section py-1">
                <ion-text class="icon_svg"><i class="fa fa-circle-o me-1" style="color: green" aria-hidden="true"></i>
                </ion-text>
                <ion-text class="text_fields_Location">
                  <ion-text class="text-Location fw-bold">Delhi Red Fort...</ion-text>
                  <ion-text class="text-Location text-success">11-Mar-2024 at 11:00AM</ion-text>
                </ion-text>
              </ion-text>
              <ion-text class="Loaction_divide_section py-1">
                <ion-text class="icon_svg"><i class="fa fa-circle-o me-1" style="color: rgb(255, 12, 12)"
                    aria-hidden="true"></i>
                </ion-text>
                <ion-text class="text_fields_Location">
                  <ion-text class="text-Location fw-bold">Delhi Red Fort...</ion-text>
                  <ion-text class="text-Location text-danger">11-Mar-2024 at 11:00AM</ion-text>
                </ion-text>
              </ion-text>
            </ion-text>
            <div class="container_ormore mt-3 px-3">
              <hr style="color: green" />
              <span class="ms-2 me-2"><img src="../../../assets/icon/delivery-truck.png" alt="" /></span>
              <hr style="color: red" />
            </div>
          </ion-text>
          <p class="text-center fw-bold" style="color: #ff6347">
            See All in Transit Order
          </p>
        </ion-text>
      </ion-text>
    </ion-text>

    <ion-text class="p-2">
      <ion-text class="continer_Svg_Text py-3  ">
        <ion-text class="img-section ">
          <img src="../../../assets/icon/dashboard_svgimage.png" style="height: 70px;" class="img-fluid" alt="">
        </ion-text>
        <ion-text class="text_section">
          <h6 class="fw-bold">Order Pickup & delivery Mode Easy!</h6>
          <p>Place Order Offortlessly for your goods Delivers!</p>
        </ion-text>
      </ion-text>
    </ion-text>

    <ion-text class="MainCounters_section padding_callss">
      <ion-text class="content_section shadow " style="background: none !important;">
        <ion-text class="Counters_tophedding">
          <ion-text class="Order_view">Invoice Overview</ion-text>
          <ion-text class="Text_small">See Invoices</ion-text>
        </ion-text>
        <ion-text class="Counters_section">
          <ion-text class="Counter">
            <ion-text class="Py_content_text total"><span>
                <i class="fa fa-cubes" aria-hidden="true"></i>
              </span>
              TOTAL</ion-text>
            <ion-text class="Counter_number">2,41,200</ion-text>
          </ion-text>
          <ion-text class="Counter">
            <ion-text class="Py_content_text " style="color: rgb(57, 132, 245);"><span>
                <i class="fa fa-clock-o me-1" aria-hidden="true"></i>
              </span>
              DUE AMOUNT</ion-text>
            <ion-text class="Counter_number">10,50,300</ion-text>
          </ion-text>
        </ion-text>
        <ion-text class="Counters_section">
          <ion-text class="Counter">
            <ion-text class="Py_content_text" style="color: rgb(247, 37, 37)"><span>
                <i class="fa fa-check-square-o me-1" aria-hidden="true"></i>
              </span>
              OVERDUE AMOUNT</ion-text>
            <ion-text class="Counter_number">2,50,390</ion-text>
          </ion-text>
          <ion-text class="Counter">
            <ion-text class="Py_content_text text-success"><span>
                <i class="fa fa-rocket me-1" aria-hidden="true"></i>
              </span>
              PAID AMOUNT</ion-text>
            <ion-text class="Counter_number">4,24,430</ion-text>
          </ion-text>
        </ion-text>

      </ion-text>
    </ion-text>

    <ion-text class="container-fluid mt-2  ">
      <ion-text class="row p-2 " style="background: none !important">
        <ion-text class="border py-2 Card_Section shadow">
          <ion-text class="img_content img-fluid">
            <img src="../../../assets/icon/logo.jpg" height="20px" style="margin-top: -10px" alt="" />
            <p class="fs-6 fw-bold text-white">Welcome To Proxima Logistic</p>
            <p class="fw-bold text-white">{{ formattedDateTime }}</p>
          </ion-text>


          <ion-text class="text_section px-2">
            <h6 class="fw-bold">Order Pickup & delivery Mode Easy!</h6>
            <p style="color: rgb(184, 183, 183);">Place Order Offortlessly for your goods Delivers!</p>
          </ion-text>
        </ion-text>
      </ion-text>
    </ion-text>


    <ion-text class="dashboard_top mb-2 mt-2">
      <ion-text class="ptl_section shadow ">
        <ion-text class="ptl_imgsection">
          <img src="../../../assets/icon/interior-large-logistics-warehouse-ai-generative.jpg" alt=""
            style="width: -webkit-fill-available" />
        </ion-text>
        <ion-text class="text_section px-2">
          <h6 class="Card_text">Order Pickup & delivery Mode Easy!</h6>
          <p style="color: rgb(184, 183, 183);">Place Order Offortlessly for your goods Delivers!</p>
        </ion-text>
      </ion-text>
      <ion-text class="ptl_section shadow ">
        <ion-text class="ptl_imgsection">
          <img src="../../../assets/icon/ptliimage2.jpg" style="width: -webkit-fill-available" alt="" />
        </ion-text>
        <ion-text class="text_section px-2">
          <h6 class="Card_text">Order Pickup & delivery Mode Easy!</h6>
          <p>Place Order Offortlessly for your goods Delivers!
          </p>
        </ion-text>
      </ion-text>
    </ion-text>
  </ion-text>
</ion-col>