<ion-col>
  <ion-row>

    <ion-text class="p-2 mt-5">
      <ion-text class="container-fluid_main bg-white">
        <ion-text class="top_Lorry_section bg-banner">
          <ion-text class="Side_Section text-start" style="line-height: normal">
            <img [src]="[lrData.company.logo]" class="mb-1" width="100px" alt="" />
            <p>loory receipt</p>
            <p>CN No:<span>{{lrData.cnNo}}</span></p>
            <p>GST No:<span>{{lrData.gstNo}}</span></p>
          </ion-text>
          <ion-text class="Side_Section text-end">
            <p style="word-break: break-all">
              {{lrData.company.address}}
            </p>
            <p>Mob No: <span>{{lrData.company.mobile}}</span></p>
            <p>Email: <span>{{lrData.company.email}}</span></p>
            <p>Web: <span>{{lrData.company.website}}</span></p>
          </ion-text>
        </ion-text>
        <ion-text class="top_Lorry_section mt-2">
          <ion-text class="Side_Section Information py-2">
            <p class="fw-bold">LR No: <span>{{lrData.lrNo}}</span></p>
            <p class="fw-bold">Vehicle: <span>{{lrData.vehicle.type}}</span></p>
            <p class="fw-bold">Driver: <span>{{lrData.driver.name}}</span></p>
            <p class="fw-bold w-mx">License No: <span>{{lrData.driver.licenseNo}}</span></p>
          </ion-text>
          <ion-text class="Side_Section Information py-2">
            <p class="fw-bold">Trip Date: <span>Trip/{{lrData.tripDate}}</span></p>
            <p class="fw-bold">Vehicle No: <span>{{lrData.vehicle.number}}</span></p>
            <p class="fw-bold w-mx">Mobile No: <span>{{lrData.driver.mobile}}</span></p>
            <p class="fw-bold">RTO No: <span>{{lrData.vehicle.rtoNo}}</span></p>
          </ion-text>
        </ion-text>
        <ion-text class="hr_lines" style="width: 95%">
          <hr />
        </ion-text>
        <p class="fw-bold text-center">Consignment Transaction Details</p>
        <ion-text class="hr_lines" style="width: 95%">
          <hr />
        </ion-text>
        <ion-text class="Consignment_container px-2">
          <p class="Consiger_headding fw-bold">Consignor</p>
          <p class="Consiger_headding_sub">{{lrData.consignor.name}}</p>
          <p class="Consiger_headding_Details">
            {{lrData.consignor.address}},{{lrData.consignor.pincode}}
          </p>
          <p class="Consiger_headding_Details">
            Mobile No: <span>{{lrData.consignor.mobile}}</span>
          </p>
          <p class="Consiger_headding_Details">
            GSTIN No: <span>{{lrData.consignor.gstin}}</span>
          </p>
        </ion-text>
        <ion-text class="hr_lines" style="width: 95%">
          <hr />
        </ion-text>
        <ion-text class="Consignment_container px-2">
          <p class="Consiger_headding fw-bold">Consignee</p>
          <p class="Consiger_headding_sub">
            {{lrData.consignee.name}}
          </p>
          <p class="Consiger_headding_Details">
            {{lrData.consignee.address}},{{lrData.consignee.pincode}}
          </p>
          <p class="Consiger_headding_Details">
            Mobile No: <span>{{lrData.consignee.mobile}}</span>
          </p>
          <p class="Consiger_headding_Details">
            GSTIN No: <span>{{lrData.consignee.gstin}}</span>
          </p>
        </ion-text>
        <ion-text class="hr_lines" style="width: 95%">
          <hr />
        </ion-text>
        <ion-text class="top_Lorry_section mt-2">

          <!-- LEFT SIDE -->
          <ion-text class="Side_Section Information py-2">
            <p class="fw-bold">Invoice No:
              <span>{{lrData.invoice.invoiceNo}}</span>
            </p>

            <p class="fw-bold">Reference No:
              <span>{{lrData.invoice.referenceNo}}</span>
            </p>

            <p class="fw-bold">DO No:
              <span>{{lrData.invoice.doNo || '-'}}</span>
            </p>

            <p class="fw-bold w-mx">Eway Bill:
              <span>{{lrData.invoice.ewayBillNo}}</span>
            </p>

            <p class="fw-bold w-mx">Eway Bill Exp-Date:
              <span>{{lrData.invoice.ewayBillExpiry}}</span>
            </p>

            <p class="fw-bold">GST Paid By:
              <span>{{lrData.invoice.gstPaidBy || 'Consignor'}}</span>
            </p>

            <p class="fw-bold">Container No:
              <span>{{lrData.invoice.containerNo || '-'}}</span>
            </p>
          </ion-text>
          <ion-text class="Side_Section Information py-2">
            <p class="fw-bold">Date:
              <span>{{lrData.service.date}}</span>
            </p>

            <p class="fw-bold">L/C No:
              <span>{{lrData.invoice.lcNo || '-'}}</span>
            </p>

            <p class="fw-bold">Expiry Date:
              <span>{{lrData.invoice.expiryDate || '-'}}</span>
            </p>

            <p class="fw-bold">Service:
              <span>{{lrData.service.type}}</span>
            </p>

            <p class="fw-bold text-center">Container Size:
              <span>{{lrData.service.containerSize}}</span>
            </p>
          </ion-text>

        </ion-text>

        <ion-text class="px-2">
          <table>
            <thead>
              <tr>
                <th>sr.</th>
                <th>Decription</th>
                <th>UCM</th>
                <th style="line-height: normal">Weight (Kg)</th>
                <th>Amount</th>
                <th>Qty</th>
              </tr>
            </thead>
            <tbody>
              @for (item of lrData.items; track $index) {
              <tr>
                <td>{{$index + 1}}</td>
                <td>{{item.description}} <br>(17 LPT)</td>
                <td>{{item.unit}}</td>
                <td>{{item.weightKg}}</td>
                <td style="line-height: normal">{{item.amount}}</td>
                <td>{{item.quantity}}</td>
              </tr>
              }
            </tbody>
          </table>

          <!---------horizontaly lines----->
        </ion-text>
        <ion-text class="hr_lines" style="width: 95%">
          <hr />
        </ion-text>

        <ion-text class="px-2">
          <p class="fw-bold">Term's & Conditions</p>
          <ol style="line-height: 18px; margin: -7px 0px 6px -8px">
            @for (item of lrData.terms; track $index) {
            <li>
              {{ item }}
            </li>
            }
          </ol>
        </ion-text>


        <!---------extra gap------------>
        <ion-text class="Extra_gap"> </ion-text>
        <ion-text class="top_Lorry_section py-3 px-2">
          <ion-text class="fw-bold" style="font-size: 12px">{{lrData.receiver.name}},{{lrData.receiver.mobile}}
          </ion-text>
          <ion-text class="fw-bold" style="font-size: 12px">{{lrData.consignee.name}}</ion-text>
        </ion-text>
      </ion-text>
      <br />
    </ion-text>

    <!--------fotter tollbar-->

  </ion-row>
</ion-col>
<ion-text class="Footer border">
  <ion-text class="px-3">
    <p class="share_btn btn" style="margin: 0px">
      <i class="fa fa-share-alt me-2" aria-hidden="true"></i><span class="fw-bold">Share</span>
    </p>
  </ion-text>
  <ion-text class="px-2 py-2">
    <button class="me-2 btn btn-primary" (click)="printPage()">Print</button>
    <button class="Dwonload_button btn" (click)="openPopup() ">Dwonload</button>
  </ion-text>
</ion-text>
<ion-card *ngIf="isPopupOpen" class="Popup p-5">
  <ion-text class="my_poup">
    <i class="fa fa-times" aria-hidden="true" (click)="openPopup()"></i>

    <p><i class="fa fa-check" aria-hidden="true"></i></p>
    <h6 class="fw-bold">Download SuccessFull!</h6>
    <span> Loory Receipt has been Downloaded SuccessFully. </span>
  </ion-text>

</ion-card>
<div *ngIf="isPopupOpen" class="overlay" (click)="openPopup()"></div>