<ion-text class="container-fluid_main scrollable-container">
  <!-- Your existing content here -->

  <ion-text class="row p-2" style="background: rgb(245, 245, 245) !important">
    <ion-text class="bg-white tab-bar" style="height: 45px;">
      
      <div class="tab-bar g-0" >
        <a [ngClass]="{'active': activeTab === 1}" (click)="setActiveTab(1)" routerLink="/indexpage/Loory-receipt">Loory Receipt</a>
        <a [ngClass]="{'active': activeTab === 2}" (click)="setActiveTab(2)" routerLink="/indexpage/Shiping-lable">Shipping Lable</a>
        <a [ngClass]="{'active': activeTab === 3}" (click)="setActiveTab(3)" routerLink="/indexpage/Proof-delivery">Proof of Delivery</a>
      </div>
      
      
      
    </ion-text>
    <ion-text class="img_container mt-5">
      <img
        src="../../../../assets/icon/import_exort-removebg-preview.png"
        alt="Description of image"
        class="m_auto mt-3 mb-3 img-fluid"
      />
    </ion-text>

    <ion-text class="px-3">
      <ion-text class="Text_content_top">
        <p>Click The button below to access your <br> proof of Delivery</p>
      </ion-text>
     <ion-text class="btn_section">
      <ion-button type="submit"   class="submit_button mt-3 col-8" >
       Get Proof Of Delivery
      </ion-button>
     </ion-text>
     
    </ion-text>
    <ion-text class="dashboard_top mb-2 mt-5">
      <ion-text class="ptl_section shadow" routerLink="/indexpage/FtlBooking">
        <ion-text class="ptl_imgsection">
          <img
            src="../../../../assets/icon/ulimate truck.jpg"
            alt=""
            class="img-fluid border-bottom"
            style="width: -webkit-fill-available"
          />
        </ion-text>
        <ion-text class="text_section px-2">
          <h6 class="Card_text">Order Pickup & delivery Mode Easy!</h6>
          <p style="color: rgb(184, 183, 183)">
            Place Order Offortlessly for your goods Delivers!
          </p>
        </ion-text>
      </ion-text>
      <ion-text class="ptl_section shadow" routerLink="/indexpage/PtlBooking">
        <ion-text class="ptl_imgsection">
          <img
            src="../../../../assets/icon/interior-large-logistics-warehouse-ai-generative.jpg"
            style="width: -webkit-fill-available"
            class="img-fluid"
            alt=""
          />
        </ion-text>
        <ion-text class="text_section px-2">
          <h6 class="Card_text">Order Pickup & delivery Mode Easy!</h6>
          <p >
            Place Order Offortlessly for your goods Delivers!
          </p>
        </ion-text>
      </ion-text>
    </ion-text>
    <ion-text class="Form_input_box">
      <ion-card class="Lr_dowload">
        <ion-text class="Card_section2">
          <ion-text class="svg_content2">
            <img
              src="../../../assets/icon/person_Check_invoivebill.png"
              class="img-fluid"
              alt=""
            />
          </ion-text>
          <ion-text class="Input_content2 ms-2">
            <p class="text-dark" style="line-height: 20px; font-weight: 600">
              Order Pickup & delivery Mode Easy!
            </p>
            <p>Place Order Offortlessly for your goods Delivers!</p>
          </ion-text>
        </ion-text>
      </ion-card>
    </ion-text>
  </ion-text>
</ion-text>
