.img_container {
	width: 100%;
	max-width: 100%;
}

.container-fluid_main {
	width: calc(100%);
	max-width: calc(100%);
	display: flex;
	flex-direction: column;
	line-height: 10px;
	border: 1px solid rgb(241, 241, 241);
}

.scrollable-container {
	/* Set this to whatever height you need */
	overflow: auto;

}

.dashboard_top {
	width: calc(100%);
	max-width: calc(100%);
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.ptl_section {
	width: calc(98% / 2);
	max-width: calc(98% / 2);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	background-size: contain;
	border: 1px solid #b3b3b3;
	height: fit-content
}

.ptl_imgsection {
	width: calc(100%);
	max-width: calc(100%);
	display: flex;
	justify-content: space-between;
}

.ptl_imgsection img {
	border-radius: 10px 10px 0px 0px;
	height: 100px;
}

.text_section {
	display: flex;
	flex-direction: column;
	padding: 15px 0px;
	background: white;
	border: 1px solid rgba(255, 255, 255);
	border-radius: 0px 0px 10px 10px;
}

.text_section p {
	font-size: 12px;
	color: azure;
	font-weight: 700;
	line-height: 16px;
	color: rgb(184, 183, 183);
}

.Input_content2 {
	width: calc(100% - 20%);
	max-width: calc(100% - 20%);
	margin: auto;
	line-height: normal;
}

.Form_input_box {
	display: flex;
	gap: 2px;
	text-align: start;
}

.Lr_dowload {
	border-radius: 0px 0px 10px 10px;
	background: linear-gradient(90deg, rgba(255, 236, 165, 1) 0%, rgba(237, 235, 183, 1) 38%, rgb(237, 235, 183, 1) 46%, rgb(216, 220, 248) 100%);
}

.svg_content2 {
	width: calc(100% - 80%);
	max-width: calc(100% - 80%);
	display: flex;
	justify-content: center;
	margin: 10px 0px;
	color: rgb(25, 123, 236);
}

.Card_section2 {
	padding: 10px;
	border: 1px solid rgb(241, 241, 241);
	border-radius: 5px;
	display: flex;
}

.Text_content_top p {
	line-height: 20px;
	text-align: center;
}

.btn_section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tab-bar {
	display: flex;
	justify-content: flex-start;
	overflow-x: auto;
	/* Enable horizontal scrolling */
	white-space: nowrap;
	/* Prevent tabs from wrapping to the next line */
	padding: 7px;
	background: white;
	width: 100%;
	overflow: scroll;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 999;
}

.tab-bar a {
	text-decoration: none;
	color: black;
	border: none;
	padding: 10px 40px 0px 0px;
	cursor: pointer;
	font-size: 14px;
	display: inline-block;
	/* Ensure each tab is inline */
}

.tab-bar a.active {
	color: orange;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	/* Adjust the thickness of the underline */
	text-underline-offset: 5px;
}

/* Ensure the scrollbar is always visible */
.tab-bar::-webkit-scrollbar {
	height: 20px;
	/* Height of the horizontal scrollbar */
}

.tab-bar::-webkit-scrollbar-thumb {
	background: #ccc;
	/* Color of the scrollbar thumb */
	border-radius: 3px;
}

.tab-bar::-webkit-scrollbar-track {
	background: #f1f1f1;
	/* Color of the scrollbar track */
}

.row {
	--bs-gutter-x: 0rem !important;
}
.Card_text {
    font-weight: 700;
    font-size: small;
    text-align: start;
}