<ion-col class="p-0">
  <ion-row>
    <ion-header class="bg-white shadow-lg">
      <div class="tab-bar g-0">
        <a [ngClass]="{'active': activeTab === 1}" (click)="setActiveTab(1, 'all')">All</a>
        <a [ngClass]="{'active': activeTab === 2}" (click)="setActiveTab(2, 'overdue')">Overdue</a>
        <a [ngClass]="{'active': activeTab === 3}" (click)="setActiveTab(3, 'due')">Due</a>
        <a [ngClass]="{'active': activeTab === 4}" (click)="setActiveTab(4, 'paid')">Paid</a>
      </div>
    </ion-header>

    <ion-text>
      <ion-row class="py-3 px-2 ">
        <ion-text class="input_feild_section px-2 ">
          <ion-text class="svg_content">
            <i class="fa fa-search" aria-hidden="true"></i>
          </ion-text>
          <ion-text class="Input_content">
            <ion-input type="text" class="form_input" id="exampleInputPassword1" placeholder="Search Invoice..."
              style="border: none !important;" />
          </ion-text>
        </ion-text>
        @for (item of invoiceData; track $index) {
        <ion-card class="card_section mt-2 ">
          <ion-card-content class="card_main_container py-3 px-2">
            <ion-text class="text_section px-2">
              <p class="fw-bold" [routerLink]="['/indexpage/invoice-Bill',item.invoiceNo]">
                {{item.invoiceNo}}
              </p>
              <p class="Date_timeDelevery method_section">
                {{item.date}}
              </p>
            </ion-text>

            <ion-text class="button_section">
              <span class="badge" [ngClass]="getStatus(item).cls">
                {{ getStatus(item).text }}
              </span>
            </ion-text>
          </ion-card-content>
          <hr>
          <ion-text class="card_main_container d-flex justify-content-between align-items-baseline">
            <ion-text class="text_section px-2">
              <p class="fw-bold Company_name">{{item.customer}}</p>
              <p class="ph-num">{{item.mobile}}</p>
            </ion-text>
            <ion-text class="button_section d-flex justify-content-end paying_button_section ">
              <button class="submit_button" [disabled]="getStatus(item).dis">
                Pay Now
              </button>
            </ion-text>
          </ion-text>

          <ion-text class="card_main_container2 py-1">
            <ion-text class="my_section">
              <p class="method_section">Due Date</p>
              <p class="fw-bold Date_timeDelevery">
                {{item.dueDate}}
              </p>
            </ion-text>

            <ion-text class="my_section">
              <p class="method_section">Due Amount</p>
              <p class="fw-bold">
                {{item.total - item.paid}}
              </p>
            </ion-text>

            <ion-text class="my_section">
              <p class="method_section">Total Amount</p>
              <p class="fw-bold">
                {{item.total}}
              </p>
            </ion-text>
          </ion-text>

        </ion-card>
        }
      </ion-row>
    </ion-text>
  </ion-row>
</ion-col>