
*{
    margin: 0px;
}
.row{
    background: none !important;
}
.top_content{
    width: calc(100%);
    max-width: calc(100%);
    display: flex;
   
}
.top_content ion-text{
    width: calc(100% / 2);
    max-width: calc(100% / 2);
    display: flex;
    justify-content:flex-start;
    line-height: normal;
    flex-direction: column;
}
.border{
    border: 3px solid black !important;
    border-radius: 10px !important;
}
.top_content2{
    width: calc(100%);
    max-width: calc(100%);
    display: flex;
}
.top_content2 ion-text{
    width: calc(100% / 3);
    max-width: calc(100% / 3);
    
}
.scrollable-container {
    /* Set this to whatever height you need */
   overflow: auto;
  
 }

h6{
    font-family: emoji;
    font-weight: 900 !important;
    font-size: 15px;
    width: max-content;
}
p{
    font-size: small;
    color: grey;
    text-align: justify;
    font-weight: none !important;
}

.Doket_num{
    display: flex;
    justify-content: flex-end !important;
    align-items: end;
}
.Origin{
    border: 3px solid black;
    border-left: none !important;
    border-bottom: none !important;
    padding: 3px;
}
.Ship_ment{
    border: 3px solid black;
    border-right: none !important;
    border-left: none !important;
    border-bottom: none !important;
    padding: 3px;
}
.Ship_ment2{
    border: 3px solid black;
    border-right: none !important;
    border-left: none !important;
    padding: 3px;
}
.Origin2{
    border: 3px solid black;
    border-left: none !important;
    padding: 3px;
}
.Invoice_no {
    border-bottom: 3px solid black;
}
.Invoice_no ion-text{
    margin: auto;
}
.tab-bar {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent tabs from wrapping to the next line */
    padding: 7px;
    background: white;
    width: 100%;
    overflow: scroll;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index:999;
  }
  .tab-bar a {
    text-decoration: none;
    color: black;
    border: none;
    padding: 10px 40px 0px 0px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block; /* Ensure each tab is inline */
  }
  
  .tab-bar a.active {
    color: orange;
    text-decoration: underline;
    text-decoration-thickness: 2px; /* Adjust the thickness of the underline */
    text-underline-offset: 5px;
  }
  
  /* Ensure the scrollbar is always visible */
  .tab-bar::-webkit-scrollbar {
    height: 20px; /* Height of the horizontal scrollbar */
  }
  
  .tab-bar::-webkit-scrollbar-thumb {
    background: #ccc; /* Color of the scrollbar thumb */
    border-radius: 3px;
  }
  
  .tab-bar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
  }
  /* Example: src/styles.css or src/styles.scss */
