.hide-content {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--px));
}
.hide-content ion-text {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  gap: calc(10 * var(--px));
}
.hide-content ion-text .top-content {
  border: calc(1 * var(--px)) solid rgb(255, 142, 101);
  border-radius: calc(5 * var(--px));
  padding: calc(3 * var(--px));
  background-color: rgb(252, 196, 176);
  font-size: smaller;
}
.input_feild_section {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  font-size: smaller;
}
.input_feild_section2 {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  flex-direction: column;
  font-size: smaller;
  line-height: calc(1 * var(--px));
}
.svg_content {
  width: calc(100% - 90%);
  max-width: calc(100% - 90%);
  display: flex;
  justify-content: center;
  margin: calc(10 * var(--px)) calc(0 * var(--px));
  color: rgb(25, 123, 236);
}
.input-content {
  width: calc(100% - 10%);
  max-width: calc(100% - 10%);
  color: rgb(25, 123, 236);
  display: flex;
  align-items: center;
  margin: calc(7 * var(--px)) calc(0 * var(--px));
}
.svg_content2 {
  width: calc(100% - 80%);
  max-width: calc(100% - 80%);
  display: flex;
  justify-content: center;
  margin: calc(10 * var(--px)) calc(0 * var(--px));
  color: rgb(25, 123, 236);
}
.input-content-2 {
  width: calc(100% - 20%);
  max-width: calc(100% - 20%);
  color: rgb(25, 123, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text_mob {
  color: #ff8670;
  font-weight: 100 !important;
}
.vichle_section {
  display: flex;
  flex-direction: column;
  border: calc(1 * var(--px)) solid rgb(241, 241, 241);
  border-radius: calc(5 * var(--px));
}
.seltct_vichle {
  display: flex;
  justify-content: space-between;
}
.vichle_card {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  border: #f86e56;
  border-radius: calc(5 * var(--px));
  padding: calc(10 * var(--px)) calc(0 * var(--px));
  background: #ff8670;
  height: calc(60 * var(--px));
}
._svg_text {
  display: flex;
  flex-direction: column;
  gap: calc(5 * var(--px));
}
.vichle_card ion-text {
  width: calc(98% / 2);
  max-width: calc(98% / 2);
  display: flex;
  flex-direction: column;
  line-height: calc(0 * var(--px));
}
.vichle_card ion-text p span {
  font-size: smaller;
}
.font-size {
  font-size: var(--fs-10);
  color: rgb(216, 215, 215);
}
.font-size2 {
  font-size: calc(14 * var(--px));
  color: rgb(204, 203, 203);
  line-height: calc(10 * var(--px));
}
._Svg_continer {
  width: calc(15%);
  max-width: calc(15%);
}
._continer_text {
  width: calc(100% - 15%);
  max-width: calc(100% - 15%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d-flex span {
  font-size: var(--fs-10);
  border: calc(1 * var(--px)) solid rgb(241, 241, 241);
  border-radius: calc(5 * var(--px));
  background: rgb(245, 243, 243);
  color: rgb(12, 187, 12);
  margin: calc(1 * var(--px)) calc(0 * var(--px)) calc(0 * var(--px)) calc(5 * var(--px));
  padding: calc(1 * var(--px)) calc(7 * var(--px)) !important;
}
.coustomer {
  margin: calc(-10 * var(--px)) calc(0 * var(--px));
}
.mt_1 {
  margin: calc(-16 * var(--px)) calc(0 * var(--px)) calc(0 * var(--px)) calc(40 * var(--px));
}
.heading_cargo {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  justify-content: space-between;
}
.card-section {
  padding: calc(10 * var(--px));
  border: calc(1 * var(--px)) solid rgb(241, 241, 241);
  border-radius: calc(5 * var(--px));
  display: flex;
  flex-direction: column;
}
.card-section-2 {
  padding: calc(10 * var(--px));
  border: calc(1 * var(--px)) solid rgb(241, 241, 241);
  border-radius: calc(5 * var(--px));
  display: flex;
}
.heading_cargo h6 {
  font-weight: 700;
}
.heading_cargo p {
  font-size: small;
}
.multi-input-calc {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(5 * var(--px));
}
.form_input2 {
  width: calc(96% / 4);
  max-width: calc(96% / 4);
  display: flex;
  justify-content: space-between;
}
.font_content_section {
  width: calc(96% / 2);
  max-width: calc(96% / 2);
  justify-content: space-between;
  align-items: center;
}
ion-card {
  box-shadow: none !important;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 8px !important;
}

.payment_method {
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.payment-action {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(5 * var(--px));
}
.payment-action ion-text {
  width: calc(94% / 5);
  max-width: calc(94% / 5);
  justify-content: center;
  align-items: center;
}

.popup-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.my_poup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(51, 51, 51, 0.5);
}
.fa-times {
  position: absolute;
  top: calc(11 * var(--px));
  right: calc(21 * var(--px));
  font-size: large;
}
.my_poup p {
  border: calc(4 * var(--px)) solid rgb(14, 167, 0);
  border-radius: 50%;
  padding: calc(5 * var(--px));
  font-size: xx-large;
}
.my_poup span {
  line-height: calc(20 * var(--px));
  font-size: medium;
  color: rgb(197, 196, 196);
}
.fa-pie-chart {
  color: #00ff95;
}

.fade-slow {
  transition: opacity 20s ease-in-out;
  opacity: 1;
}
._content_hide {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 5s ease-in-out;
}

._content_hide.show {
  max-height: 2000px;
  opacity: 1;
}
.form_content {
  border-top: calc(2 * var(--px)) solid var(--neutral-200);
  border-radius: calc(20 * var(--px));
  margin-top: calc(-20 * var(--px));
}

.negative-margin-top {
  margin: calc(-16 * var(--px)) 0px 0px 0px !important;
}

.form_input {
  z-index: 1;
}

.w-mx {
  width: max-content;
}
