<ion-row class="container-fluid">
  <ion-col class="row " style="background: none !important;">
    <ion-text class="Heading_top fw-bold mt-3">Order Booking type: Partial truckload (PTL)</ion-text>
    <ion-text class="px-2 py-3">
      <ion-text class="input_feild_section px-2 mt-2">
        <ion-text class="svg_content">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </ion-text>
        <ion-col class="Input_content">
          <ion-input type="datetime-local" class="form_input" id="exampleInputPassword1"
            placeholder="11-04-2024 at 07:00AM" style="border: none !important;" />
        </ion-col>
      </ion-text>
      <ion-col class="input_feild_section px-2 mt-2">
        <ion-text class="svg_content">
          <i class="fa fa-map-marker text-success" aria-hidden="true"></i>


        </ion-text>
        <ion-text class="Input_content">
          <ion-input type="text" class="form_input" id="exampleInputPassword1"
            placeholder="Where should we pick up your items?" style="border: none !important;" />
        </ion-text>
      </ion-col>
      <ion-col class="input_feild_section px-2 mt-2">
        <ion-text class="svg_content">
          <i class="fa fa-map-marker text-danger" aria-hidden="true"></i>
        </ion-text>
        <ion-text class="Input_content">
          <ion-input type="text" class="form_input" id="exampleInputPassword1"
            placeholder="Where should we delivery your items?" style="border: none !important;" />
        </ion-text>
      </ion-col>
    </ion-text>
  </ion-col>
</ion-row>