<ion-col>
  <ion-row class="chart_container">
    <div class="px-4 py-1 my-5 text-center text-white dashboard-bg w-75">
      <h1 class="display-5 fw-bold">Driver Dashboard</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4"> Manage your deliveries, track orders, and update trip status easily.
        </p>
      </div>
    </div>
  </ion-row>
  <ion-row class="d-flex justify-content-end align-items-center mt-3">
    <div class="btn-group-custom">
      <button (click)="loadChart('monthly', chartApiData)" [ngClass]="{'active-btn': currentType === 'monthly'}">
        Monthly
      </button>
      <button (click)="loadChart('weekly', chartApiData)" [ngClass]="{'active-btn': currentType === 'weekly'}">
        Weekly
      </button>
      <button (click)="loadChart('today', chartApiData)" [ngClass]="{'active-btn': currentType === 'today'}">
        Today
      </button>
    </div>
    <div class="chart-container">
      <canvas id="myChart"></canvas>
    </div>
  </ion-row>
  <ion-row class="p-0">
    <ion-col class="content_section shadow">
      <ion-text class="counters_tophedding">
        <ion-text class="order_view">Order Overview</ion-text>
        <ion-text class="text_small">See Order</ion-text>
      </ion-text>
      <ion-text class="counters_section">
        <ion-text class="counter">
          <ion-text class="py_content_text total"><span>
              <i class="fa fa-cubes" aria-hidden="true"></i>
            </span>
            TOTAL</ion-text>
          <ion-text class="counter_number">10</ion-text>
        </ion-text>
        <ion-text class="counter">
          <ion-text class="py_content_text pending"><span>
              <i class="fa fa-clock-o me-1" aria-hidden="true"></i>
            </span>
            PENDING</ion-text>
          <ion-text class="counter_number">10</ion-text>
        </ion-text>
      </ion-text>
      <ion-text class="counters_section">
        <ion-text class="counter">
          <ion-text class="py_content_text text-success"><span>
              <i class="fa fa-check-square-o me-1" aria-hidden="true"></i>
            </span>
            COMPLETED</ion-text>
          <ion-text class="counter_number">10</ion-text>
        </ion-text>
        <!-- <ion-text class="counter">
          <ion-text class="py_content_text" style="color: rgb(60, 73, 255)"><span>
              <i class="fa fa-check-square-o me-1" aria-hidden="true"></i>
            </span>
            BOOKED</ion-text>
          <ion-text class="counter_number">10</ion-text>
        </ion-text> -->
        <ion-text class="counter">
          <ion-text class="Py_content_text" style="color: indigo"><span>
              <i class="fa fa-rocket me-1" aria-hidden="true"></i>
            </span>
            IN TRANSIT</ion-text>
          <ion-text class="counter_number">10</ion-text>
        </ion-text>
      </ion-text>
      <!-- <ion-text class="counters_section">
        <ion-text class="counter">
          <ion-text class="py_content_text text-success"><span>
              <i class="fa fa-check-square-o me-1" aria-hidden="true"></i>
            </span>
            COMPLETED</ion-text>
          <ion-text class="counter_number">10</ion-text>
        </ion-text>
        <ion-text class="counter">
          <ion-text class="py_content_text text-danger"><span>
              <i class="fa fa-window-close-o me-1" aria-hidden="true"></i>
            </span>
            CANCELLED</ion-text>
          <ion-text class="counter_number">10</ion-text>
        </ion-text>
      </ion-text> -->
    </ion-col>
  </ion-row>
</ion-col>