.chart_container {
  width: calc(100%);
  max-width: calc(100%);
  border: 1px solid var(--neutral-cross);
  border-radius: 5px;
  height: calc(25vh);
  background-image: url("/assets/icon/ulimate truck.jpg");
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.py_content_text {
  font-family: emoji;
}
.content_section {
  width: calc(100%);
  max-width: calc(100%);
  border: 1px solid rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.content_section {
  background-image: url("/assets/icon/Backgorund_counters.png");
  background-size: inherit;
  background-position: 20px 10px 10px 10px;
}

.counters_tophedding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
  margin: 0px 5px -5px 3px;
}

.counters_tophedding .order_view {
  font-weight: 700;
}

.text_small {
  font-size: 10px;
  display: flex;
  align-items: center;
  color: #ff6347;
}

.loaction_divide_section {
  width: calc(98% / 2);
  max-width: calc(98% / 2);
  display: flex;
  justify-content: space-between;
}

.counters_section {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  justify-content: space-between;
}

.counter {
  width: calc(98% / 2);
  max-width: calc(98% / 2);
  gap: 5px;
  border: 1px solid rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 12px;
  background-image: url("/assets/icon/cropestimage.jpg");
  background-size: cover;
}

.counter .total {
  color: grey;
}

.counter .pending {
  color: rgb(219, 219, 57);
}

.counter_number {
  font-size: 15px;
  font-weight: bold;
}
.dashboard-bg {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  h1 {
    font-family: cursive;
  }
  .mx-auto {
    p {
      font-family: "FontAwesome";
    }
  }
}

.chart-container {
  width: 100%;
  height: 300px;
}
.btn-group-custom {
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #ddd;
  width: fit-content;
  margin-bottom: 15px;

  button {
    padding: 8px 16px;
    border: none;
    background: var(--feather-bg);
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
  }

  button:not(:last-child) {
    border-right: 1px solid #ddd;
  }

  .active-btn {
    background: var(--neutral-900);
    color: var(--white);
    font-weight: 600;
  }
}
