<ion-col class="dashboard-content">
  <ion-row class="px-2">
    <ion-text class="w-100">
      <ion-header class="custom-header">
        <div class="header-container">
          <div class="left-section">
            <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359554_1280.png" class="profile-img" />
            <div class="text-section">
              <h2>Hi, Raju</h2>
              <p>Ready to deliver ?</p>
            </div>
          </div>
          <div class="right-section">
            <ion-icon [icon]="notificationIcon"></ion-icon>
            <span class="badge">5</span>
            <ion-icon [icon]="menuIcon" (click)="openMenu()"></ion-icon>
          </div>
        </div>
      </ion-header>
      <div class="section">
        <h3>Assigned Deliveries</h3>
        @for (item of deliveries; track $index) {
        }
      </div>
    </ion-text>
  </ion-row>
</ion-col>
@if (viewSidebar) {
<ion-col class="sidebar" [class.open]="viewSidebar">
  <ion-row class="no-gap row g-0">
    <ion-text class="d-flex px-2 align-items-center mt-3">
      <ion-text class="sidebar-content">
        <div class="left-section">
          <div class="img_section">
            <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359554_1280.png" class="profile-img"
              (click)="logPopup()" />
            @if(logPopupFlag){
            <ion-text class="log_popup_section">
              <ion-list class="p-0 m-0 g-0">
                <ion-item class="d-flex">
                  <ion-icon [icon]="logOut" class="settings me-2"></ion-icon>
                  <ion-label>logOut</ion-label>
                </ion-item>
              </ion-list>
            </ion-text>
            }
          </div>
          <div class="text-section">
            <h2>Hi, Raju</h2>
            <p>Ready to deliver ?</p>
          </div>
        </div>
      </ion-text>
      <ion-icon (click)="openMenu()" class="icon_menu" [icon]="closeIcon">close</ion-icon>
    </ion-text>
    <ion-text>
      <div class="sidebar-menu">
        <ion-list>
          <ion-item class="d-flex">
            <ion-icon [icon]="gridIcon" class="dashboard me-2"></ion-icon>
            <ion-label>Dashbaord</ion-label>
          </ion-item>
          <ion-item class="d-flex">
            <ion-icon [icon]="bagIcon" class="order me-2"></ion-icon>
            <ion-label>My Order</ion-label>
          </ion-item>
          <ion-item class="d-flex">
            <ion-icon [icon]="settings" class="settings me-2"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-text>
  </ion-row>
</ion-col>
}
@if (viewSidebar) {
<div class="overlay" (click)="openMenu()"></div>
}