<ion-text class="container-fluid_main scrollable-container">
    <!-- Your existing content here -->

    <ion-text class="row p-2" style="background: rgb(245, 245, 245) !important">

        <!-- Top Lorry Section -->
        <ion-text class="p-2 mt-2">
            <ion-text class="container-fluid_main bg-white">
                <ion-text class="top_Lorry_section bg-banner">
                    <ion-text class="Side_Section text-start" style=" display: flex;align-items: baseline;">
                        <img src="../../../../assets/icon/logo.jpg" class="mb-1 mt-3 ms-3" width="100px" alt="" />

                    </ion-text>
                    <ion-text class="Side_Section  py-3">
                        <p class="fw-bold">{{invoiceBill.company.name}}</p>
                        <p class="fw-bold">{{invoiceBill.company.email}}</p>
                        <p class="fw-bold w-mx">{{invoiceBill.company.address}}</p>

                    </ion-text>
                </ion-text>
                <ion-text class="p-2">

                    <p class="fw-bold mt-4 ms-2" style="font-size: small;">Invoice Deatils</p>
                    <ion-text class="top_Lorry_section mt-2">
                        <ion-text class="Side_Section Information py-2">
                            <p class="fw-bold">Invoice No</p>
                            <p class="fw-bold">Date </p>
                            <p class="fw-bold">Due date </p>
                        </ion-text>
                        <!-- Repeated Information Section -->
                        <ion-text class="Side_Section  py-2">
                            <p class="fw-bold">{{invoiceBill.invoiceNo}}</p>
                            <p class="fw-bold">{{invoiceBill.date}}</p>
                            <p class="fw-bold w-mx">{{invoiceBill.dueDate}}</p>
                        </ion-text>
                    </ion-text>
                </ion-text>

                <!-- Horizontal Line -->
                <span class="hr_lines" style="width: 95%">
                    <hr />
                </span>

                <!---------invoice Information----------->
                <ion-text class="p-2">

                    <p class="fw-bold mt-2 ms-2" style="font-size: small;">Invoice For</p>
                    <ion-text class="top_Lorry_section mt-2">
                        <ion-text class="Side_Section Information py-2">
                            <p class="fw-bold">Coustmer Name</p>
                            <p class="fw-bold">Mobile No </p>
                            <p class="fw-bold">Email </p>
                            <p class="fw-bold">Address </p>
                        </ion-text>
                        <!-- Repeated Information Section -->
                        <ion-text class="Side_Section  py-2">
                            <p class="fw-bold">{{invoiceBill.customer.name}}</p>
                            <p class="fw-bold w-mx">{{invoiceBill.customer.mobile}}</p>
                            <p class="fw-bold">{{invoiceBill.customer.email}}</p>
                            <p class="fw-bold w-mx">{{invoiceBill.customer.address}}</p>
                        </ion-text>
                    </ion-text>
                </ion-text>
                <span class="hr_lines" style="width: 95%">
                    <hr />
                </span>
                <ion-text class="p-2">
                    <p class="fw-bold mt-2 ms-2" style="font-size: small;">Service Fees</p>
                    <ion-card>
                        <ion-text class="top_Lorry_section mt-2">
                            <ion-text class="Side_Section Information py-2">
                                <p class="fw-bold">Tranpotation Charge </p>
                                <p class="fw-bold">Loding & Unloading </p>
                            </ion-text>
                            <ion-text class="Side_Section  py-2">
                                <p class="fw-bold">{{invoiceBill.charges.transportation | currency : 'INR'}}</p>
                                <p class="fw-bold w-mx">{{invoiceBill.charges.loadingUnloading | currency : 'INR'}}</p>
                            </ion-text>
                        </ion-text>
                        <ion-text class="hr_lines" style="width: 95%">
                            <hr />
                        </ion-text>
                        <ion-text class="top_Lorry_section">
                            <ion-text class="Side_Section Information ">
                                <p class="fw-bold">Gross Total </p>
                                <p class="fw-bold">SGST({{invoiceBill.tax.sgstPercent | percent}}) </p>
                                <p class="fw-bold">CGST({{invoiceBill.tax.cgstPercent | percent}}) </p>
                            </ion-text>
                            <ion-text class="Side_Section  ">
                                <p class="fw-bold">{{invoiceBill.total.gross | currency : 'INR'}}</p>
                                <p class="fw-bold w-mx">{{invoiceBill.tax.sgstAmount | currency : 'INR'}}</p>
                                <p class="fw-bold">{{invoiceBill.tax.cgstAmount | currency : 'INR'}}</p>
                            </ion-text>
                        </ion-text>
                        <span class="hr_lines" style="width: 95%">
                            <hr />
                        </span>
                        <ion-text class="top_Lorry_section">
                            <ion-text class="Side_Section Information ">
                                <p class="fw-bold text-dark">New total </p>
                                <p class="fw-bold text-success">Paid </p>
                                <p class="fw-bold text-danger">Outstanding </p>
                            </ion-text>
                            <ion-text class="Side_Section  ">
                                <p class="fw-bold text-dark">{{invoiceBill.total.final | currency : 'INR'}}</p>
                                <p class="fw-bold w-mx text-success">{{invoiceBill.total.paid | currency : 'INR'}}</p>
                                <p class="fw-bold text-danger">{{invoiceBill.total.outstanding | currency : 'INR'}} </p>
                            </ion-text>
                        </ion-text>
                    </ion-card>
                </ion-text>
                <br><br>
            </ion-text>

        </ion-text>
    </ion-text>
</ion-text>
<ion-text class="Footer border">
    <ion-text class="px-3">
        <p class="share_btn btn" style="margin: 0px">
            <i class="fa fa-share-alt me-2" aria-hidden="true"></i><span class="fw-bold">Share</span>
        </p>
    </ion-text>
    <ion-text class="px-2 py-2">
        <button class="me-2 btn btn-primary" (click)="printPage()">Print</button>
        <button class="Dwonload_button btn" (click)="openPopup() ">Dwonload</button>
    </ion-text>
</ion-text>
@if(isPopupOpen){
<ion-card class="Popup p-5">
    <ion-text class="my_poup">
        <i class="fa fa-times" aria-hidden="true" (click)="openPopup()"></i>
        <p><i class="fa fa-check" aria-hidden="true"></i></p>
        <h6 class="fw-bold">Download SuccessFull!</h6>
        <span> Loory Receipt has been Downloaded SuccessFully. </span>
    </ion-text>
</ion-card>
} @if(isPopupOpen){
<div class="overlay" (click)="openPopup()"></div>
}