.container-fluid_main {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  flex-direction: column;
  line-height: calc(10 * var(--px));
  border-radius: calc(5 * var(--px));
  border: calc(1 * var(--px)) solid grey;
}

.scrollable-container {
  overflow: auto;
}

span {
  line-height: normal;
}

.bg-banner {
  background-color: rgb(255, 235, 199);
  border: calc(1 * var(--px)) solid rgb(255, 233, 191);
}

.top_Lorry_section {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  justify-content: space-between;
  border-radius: calc(5 * var(--px)) calc(5 * var(--px)) calc(0 * var(--px)) calc(0 * var(--px));
}

ion-card {
  background-color: #f6f6f6;
}

.side-section {
  padding: calc(10 * var(--px));
  width: calc(100% / 2);
  max-width: calc(100% / 2);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: var(--fs-12);
  gap: calc(10 * var(--px));
  p {
    text-align: -webkit-right;
    line-height: normal;
    margin: 0px;
  }
}

.information {
  align-items: flex-start !important;
}

.text-start {
  line-height: normal;
  margin: 0px;
}

.information p {
  font-size: var(--fs-12);
  line-height: calc(10 * var(--px));
}

.information .fw-bold span {
  font-weight: 500 !important;
  color: rgb(190, 190, 190) !important;
}

hr {
  margin: 0 !important;
}

.extra-gap {
  height: calc(100 * var(--px));
  padding: calc(10 * var(--px));
}

.footer {
  width: calc(100%);
  max-width: calc(100%);
  padding: calc(10 * var(--px));
  display: flex;
  position: fixed;
  bottom: 0px;
  justify-content: space-between;
  background-color: white;
}

.footer ion-text {
  width: calc(96% / 2);
  max-width: calc(96% / 2);
  display: flex;
  align-items: center;
}

.download-button {
  background-color: #ff6347;
  border-radius: calc(5 * var(--px));
  color: white;
}

.share_btn {
  color: #ff6347;
  font-size: small;
  padding: calc(5 * var(--px));
  border-radius: calc(5 * var(--px));
  margin: 0px;
}

.nav-link {
  color: white;
}

.popup-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: white;
}

.my_poup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(51, 51, 51, 0.5);
}

.fa-times {
  position: absolute;
  top: calc(11 * var(--px));
  right: calc(21 * var(--px));
  font-size: large;
}

.my_poup p {
  border: calc(4 * var(--px)) solid rgb(14, 167, 0);
  background-color: rgb(14, 167, 0);
  border-radius: 50%;
  padding: calc(5 * var(--px));
  height: calc(50 * var(--px));
  display: flex;
  font-size: xx-large;
}

.fa-check {
  color: white;
}

.my_poup span {
  line-height: calc(20 * var(--px));
  font-size: medium;
  color: rgb(197, 197, 197);
  font-family: cursive;
}

.w-mx {
  width: max-content;
}

.flex-baseline {
  display: flex;
  align-items: baseline;
}

.company-logo {
  margin-bottom: calc(4 * var(--px));
  margin-top: calc(12 * var(--px));
  margin-left: calc(12 * var(--px));
  width: calc(100 * var(--px));
}

.small-text {
  font-size: var(--fs-12);
}

.hr_lines {
  display: block;
  width: 95%;
  margin: 0 auto;
}
