.Hide_content {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  flex-direction: column;
  gap: calc(5 * var(--px));
}

.Hide_content ion-text {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  gap: calc(10 * var(--px));
}

.Hide_content ion-text .Top_content {
  border: calc(1 * var(--px)) solid rgb(255, 142, 101);
  border-radius: calc(5 * var(--px));
  padding: calc(3 * var(--px));
  background-color: rgb(248, 213, 200);
  font-size: smaller;
}

.input_feild_section {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;

  font-size: smaller;
}

.input_feild_section2 {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  flex-direction: column;
  font-size: smaller;
  line-height: calc(1 * var(--px));
}

.Booked_overview {
  display: flex;
  flex-direction: column;
  gap: calc(0 * var(--px));
  line-height: calc(0 * var(--px));
}

.Booked_overview ion-text p span {
  font-size: smaller;
  color: rgb(78, 78, 78);
}

.Booked_overview ion-text p {
  font-size: small;
  color: rgb(204, 199, 199);
}

.svg_content {
  width: calc(100% - 90%);
  max-width: calc(100% - 90%);
  display: flex;
  justify-content: center;
  margin: calc(10 * var(--px)) calc(0 * var(--px)) ;
  color: rgb(25, 123, 236);
}

.Input_content {
  width: calc(100% - 10%);
  max-width: calc(100% - 10%);
  color: rgb(25, 123, 236);
  display: flex;
  align-items: center;
  margin: calc(7 * var(--px)) calc(0 * var(--px)) ;
}

.svg_content2 {
  width: calc(100% - 80%);
  max-width: calc(100% - 80%);
  display: flex;
  justify-content: center;
  margin: calc(10 * var(--px)) calc(0 * var(--px));
  color: rgb(25, 123, 236);
}

.Input_content2 {
  width: calc(100% - 20%);
  max-width: calc(100% - 20%);
  color: rgb(25, 123, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text_mob {
  color: #ff8670;
}

.vichle_section {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  flex-direction: column;
  border: calc(1 * var(--px)) solid rgb(241, 241, 241);
  border-radius: calc(5 * var(--px));
}

.seltct_vichle {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  justify-content: space-between;
}

.vichle_card {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  border: #f86e56;
  border-radius: calc(5 * var(--px));
  padding: calc(10 * var(--px)) calc(0 * var(--px));
  background: #ff8670;
}

._svg_text {
  display: flex;
  flex-direction: column;
  gap: calc(5 * var(--px));
}

.vichle_card ion-text {
  width: calc(98% / 2);
  max-width: calc(98% / 2);
  display: flex;
  flex-direction: column;
  line-height: calc(0 * var(--px));
}

.vichle_card ion-text p span {
  font-size: smaller;
}

.font-size {
  font-size: var(--fs-10);
  color: rgb(216, 215, 215);
}

.font-size2 {
  font-size: 14px;
  color: rgb(204, 203, 203);
  line-height: 10px;
}

._Svg_continer {
  width: calc(15%);
  max-width: calc(15%);
}

._continer_text {
  width: calc(100% - 15%);
  max-width: calc(100% - 15%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex span {
  font-size: var(--fs-10);
  border: calc(1 * var(--px)) solid rgb(241, 241, 241);
  border-radius: calc(5 * var(--px));
  background: rgb(245, 243, 243);
  color: rgb(12, 187, 12);
  margin: calc(1 * var(--px)) calc(0 * var(--px)) calc(0 * var(--px)) calc(5 * var(--px));
  padding: calc(1 * var(--px)) calc(7 * var(--px)) !important;
}

.coustomer {
  margin: calc(-10 * var(--px)) calc(0 * var(--px));
}

.mt_1 {
  margin: calc(-16 * var(--px)) calc(0 * var(--px)) calc(0 * var(--px)) calc(40 * var(--px));
}

.heading_cargo {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  justify-content: space-between;
}

.Card_section {
  padding: calc(10 * var(--px));
  border: calc(1 * var(--px)) solid rgb(241, 241, 241);
  border-radius: calc(5 * var(--px));
  display: flex;
  flex-direction: column;
}

.Card_section2 {
  padding: calc(10 * var(--px));
  border: calc(1 * var(--px)) solid rgb(241, 241, 241);
  border-radius: calc(5 * var(--px));
  display: flex;
}

.heading_cargo h6 {
  font-weight: 700;
}

.heading_cargo p {
  font-size: small;
}

.Multi_input_calc {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(5 * var(--px));
}

.form_input2 {
  width: calc(96% / 4);
  max-width: calc(96% / 4);
  display: flex;
  justify-content: space-between;
}

.font_content_section {
  width: calc(96% / 2);
  max-width: calc(96% / 2);
  justify-content: space-between;
  align-items: center;
}

ion-card {
  box-shadow: none !important;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 8px !important;
}

.payment_method {
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.Payment_action {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(5 * var(--px));
}

.Payment_action ion-text {
  width: calc(94% / 5);
  max-width: calc(94% / 5);
  justify-content: center;
  align-items: center;
}

.Popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;

  transform: translate(-50%, -50%);
  z-index: 2;
  /* Ensure it's above the overlay */
}

.my_poup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay {
  position: fixed;
  top: calc(0 * var(--px));
  left: calc(0 * var(--px));
  width: calc(100%);
  height: calc(100%);
  z-index: 1;
  background-color: rgba(51, 51, 51, 0.5);
  /* Black with 50% opacity */
  /* Ensure it's on top of everything else */
}

.fa-times {
  position: absolute;
  top: calc(11 * var(--px));
  right: calc(21 * var(--px));
  font-size: large;
}

.my_poup p {
  border: calc(4 * var(--px)) solid rgb(14, 167, 0);
  border-radius: 50%;
  padding: calc(5 * var(--px));
  font-size: var(--fs-18);
}

.my_poup span {
  line-height: calc(20 * var(--px));
  font-size: var(--fs-16) ;
  color: rgb(197, 196, 196);
}

.fa-pie-chart {
  color: #00ff95;
}

.See_invoice_button {
  width: calc(120 * var(--px));
  height: calc(30 * var(--px));
  font-size: calc(13 * var(--px));
  position: absolute;
  right: calc(10 * var(--px));
  color: #f86e56;
  font-weight: 700;
  --background: rgb(248, 162, 131) !important;
}

.Lr_dowload {
  background: linear-gradient(
    90deg,
    rgba(170, 165, 255, 1) 0%,
    rgba(255, 249, 220, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.content_flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
