<div class="custom-tab-bar">
  <div class="tab-item" [class.active]="isActive('/indexpage')" (click)="goTo('/indexpage')">
    <ion-icon name="home-outline"></ion-icon>
    <span>Home</span>
  </div>

  <div class="tab-item" [class.active]="isActive('/indexpage/all-product')" (click)="goTo('/indexpage/all-product')">
    <ion-icon name="newspaper-outline"></ion-icon>
    <span>Orders</span>
  </div>

  <div class="tab-item" [class.active]="isActive('/indexpage/invoice-details')"
    (click)="goTo('/indexpage/invoice-details')">
    <ion-icon name="receipt-outline"></ion-icon>
    <span>Invoices</span>
  </div>

  <div class="tab-item" [class.active]="isActive('/indexpage/profile')" (click)="goTo('/indexpage/profile')">
    <ion-icon name="person-outline"></ion-icon>
    <span>Profile</span>
  </div>
</div>