<ion-content>
  <!-- Page content yahan aayega -->
</ion-content>

<ion-footer>
  <div class="custom-tab-bar">

    <div class="tab-item" (click)="goTo('/indexpage')">
      <ion-icon name="home"></ion-icon>
      <span>Home</span>
    </div>

    <div class="tab-item" (click)="goTo('/indexpage/all-Product')">
      <ion-icon name="newspaper"></ion-icon>
      <span>Order</span>
    </div>

    <div class="tab-item" (click)="goTo('/indexpage/Invoice-details')">
      <ion-icon name="library"></ion-icon>
      <span>Invoice</span>
    </div>

    <div class="tab-item" (click)="goTo('/auth')">
      <ion-icon name="person"></ion-icon>
      <span>Account</span>
    </div>

  </div>
</ion-footer>