<!-- <ion-text class="g-0 container-fluid">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" [routerLink]="['/indexpage']">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="Product" [routerLink]="['/indexpage/All-Product']">
        <ion-icon name="newspaper"></ion-icon>
        Order
      </ion-tab-button>
      <ion-tab-button tab="Invoice" [routerLink]="['/indexpage/Invoice-details']">
        <ion-icon name="library"></ion-icon>
        Invoice
      </ion-tab-button>
      <ion-tab-button tab="Account" [routerLink]="['../auth']">
        <ion-icon name="person"></ion-icon>
        Account
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-text> -->