.tab-bar {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  white-space: nowrap;
  padding: 7px;
  background: white;
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 999;
  height: 45px;
}
.tab-bar a {
  text-decoration: none;
  color: black;
  border: none;
  padding: 10px 40px 0px 0px;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
}

.tab-bar a.active {
  color: orange;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}

.tab-bar::-webkit-scrollbar {
  height: none;
  display: none;
}
