<ion-page>
  <ion-col [fullscreen]="true">

    <div class="container-fluid custom-scrollbar">

      <div class="row bg_liner">

        <div class="text-center">
          <img src="assets/icon/Login_svgImage.webp" class="mt-3 mb-3" style="width: 350px; height: 250px;" />
        </div>

        <div class="ion-padding form_content">

          <div class="d-flex justify-content-center">
            <hr class="w-25" />
          </div>

          <div class="Header_informer text-center">
            <h2>CUSTOMER</h2>
            <p>Welcome Back Proxima Logistic :-)</p>
          </div>

          <form>
            <div class="mb-2 d-flex flex-column">
              <ion-label>Email address</ion-label>
              <ion-input type="email" placeholder="Enter email address"></ion-input>
            </div>
            <div class="mb-2 d-flex flex-column position-relative">
              <ion-label>Password</ion-label>
              <div class="input-container">
                <ion-input [type]="passwordType" placeholder="Enter your password"></ion-input>
                <ion-icon [name]="passwordIcon" (click)="togglePasswordVisibility()" class="icon_eye">
                </ion-icon>
              </div>
              <p class="forget-password" [routerLink]="['/auth/forgetPassword']">
                Forget Password?
              </p>
            </div>

            <ion-button expand="block" class="mt-3">
              Submit
            </ion-button>
            <p class="text-center mt-3">
              don't have an account?
              <a [routerLink]="['/auth/register']">Sign up</a>
            </p>

            <div class="d-flex align-items-center justify-content-center mt-3">
              <hr class="flex-grow-1">
              <span class="mx-2">Or</span>
              <hr class="flex-grow-1">
            </div>
            <div class="d-flex justify-content-between mt-3">
              <ion-button class="col-5">
                <i class="fa fa-google-plus me-1"></i> Google
              </ion-button>

              <ion-button class="col-5">
                <i class="fa fa-twitter me-1"></i> Twitter
              </ion-button>
            </div>
          </form>

        </div>

      </div>
    </div>

  </ion-col>
</ion-page>