.top_content {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
}

.top_content ion-text {
  width: calc(100% / 2);
  max-width: calc(100% / 2);
  display: flex;
  justify-content: flex-start;
  line-height: normal;
  flex-direction: column;
}

.border {
  border: calc(3 * var(--px)) solid black !important;
  border-radius: calc(10 * var(--px)) !important;
}

.top_content2 {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
}

.top_content2 ion-text {
  width: calc(100% / 3);
  max-width: calc(100% / 3);
}

.scrollable-container {
  overflow: auto;
}

h6 {
  font-family: emoji;
  font-weight: 900 !important;
  font-size: calc(15 * var(--px));
  width: max-content;
  margin: 0px;
}

p {
  font-size: var(--fs-12);
  color: grey;
  text-align: justify;
  font-weight: 400 !important;
  line-height: normal;
  margin: 0px;
}

.date-text {
  width: max-content;
}

.doket_num {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.origin-section {
  border: calc(3 * var(--px)) solid black;
  border-left: none !important;
  border-bottom: none !important;
  padding: calc(3 * var(--px));
}

.ship-to-section {
  border: calc(3 * var(--px)) solid black;
  border-right: none !important;
  border-left: none !important;
  border-bottom: none !important;
  padding: calc(3 * var(--px));
}

.ship-to-details {
  border: calc(3 * var(--px)) solid black;
  border-right: none !important;
  border-left: none !important;
  padding: calc(3 * var(--px));
}

.origin-details {
  border: calc(3 * var(--px)) solid black;
  border-left: none !important;
  padding: calc(3 * var(--px));
}

.invoice-number {
  border-bottom: calc(3 * var(--px)) solid black;
}

.invoice-number ion-text {
  margin: auto;
}