<ion-col>
  <ion-text class="row  p-2 g-0">
    @for (item of shippingData; track $index) {

    <ion-card class="border mt-5">
      <ion-col class="px-3">
        <ion-text class="top_content">
          <ion-text>
            <img [src]="[item.company.logo]" class="img-fluid p-3 w-50" alt="">
          </ion-text>
          <ion-text class="doket_num d-flex gap-1">
            <p class="fw-bold">DOCKET NO: <span>{{item.docketNo}}</span>
            </p>
          </ion-text>
        </ion-text>
        <ion-text class="top_content mt-3 ">
          <ion-text class="origin-section px-2">
            <h6 class="">ORIGIN</h6>
            <p>{{item.origin.address}}</p>
          </ion-text>
          <ion-text class="ship-to-section px-2">
            <h6>SHIP TO</h6>
            <p>{{item.destination.address}}</p>
          </ion-text>
        </ion-text>

        <ion-text class="top_content2 ">
          <ion-text class="origin-details ">
            <h6 class="">DATE</h6>
            <p class="date-text">{{item.shipment.date}}</p>
          </ion-text>
          <ion-text class="origin-details px-2">
            <h6 class="">WEIGHT</h6>
            <p>{{item.shipment.weight}}</p>
          </ion-text>
          <ion-text class="ship-to-details px-2">
            <h6>PACKAGES</h6>
            <p>{{item.shipment.currentPackage}}/{{item.shipment.totalPackages}}</p>
          </ion-text>
        </ion-text>
        <ion-item class="invoice-number">
          <ion-text>
            <h6>INVOICE NO</h6>
            <p>
              {{item.invoice.invoiceNo}}
            </p>
          </ion-text>
        </ion-item>
        <ion-item class="invoice-number">
          <ion-text>
            <h6>RETURN TO ORIGIN</h6>
          </ion-text>
        </ion-item>
        <ion-item class="invoice-number">
          <ion-text>
            <h6>SHIPPED BY:<span>{{item.company.name}}</span> </h6>
          </ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text>
            <img [src]="[item.barcode.imageUrl]" alt="">
            <p class="text-center">{{item.barcode.value}}</p>
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-card>
    }
  </ion-text>
</ion-col>