

.Back_button {
  position: relative;
  top: 20px;
  left: 10px;
}
.native-input.sc-ion-input-md {
  padding-left: 12px !important;
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container ion-input {
  flex: 1;
  padding-right: 30px; /* Adjust this to give space for the icon */
}

.input-container .icon_eye {
  position: absolute;
  right: 10px; /* Adjust this to position the icon correctly */
  cursor: pointer;
  z-index: 99;
}