<ion-col class="p-0">
  <!-- Header with Tab Navigation -->
  <ion-header class="bg-white">
    <div class="tab-bar">
      <a [ngClass]="{'active': activeTab === 1}" (click)="setActiveTab(1, 'all')">All</a>
      <a [ngClass]="{'active': activeTab === 2}" (click)="setActiveTab(2, 'overdue')">Overdue</a>
      <a [ngClass]="{'active': activeTab === 3}" (click)="setActiveTab(3, 'due')">Due</a>
      <a [ngClass]="{'active': activeTab === 4}" (click)="setActiveTab(4, 'paid')">Paid</a>
    </div>
  </ion-header>

  <!-- High-Fidelity Search Box Container -->
  <div class=" mt-3 search-container px-3">
    <div class="search-box-wrapper">
      <i class="fa fa-search search-icon" aria-hidden="true"></i>
      <ion-input type="text" class="search-input" placeholder="Search Invoice..." />
    </div>
  </div>

  <!-- Cards List Container -->
  <div class="cards-list px-3 mt-3">
    @for (item of invoiceData; track $index) {
    <div class="card_section">
      <div class="card_main_container py-3 px-3">
        <div class="text_section">
          <p class="fw-bold text-dark" [routerLink]="['/indexpage/invoice-Bill', item.invoiceNo]">
            {{ item.invoiceNo }}
          </p>
          <p class="date-time-delivery method_section">
            {{ item.date }}
          </p>
        </div>

        <div class="button_section">
          <span class="badge" [ngClass]="getStatus(item).cls">
            {{ getStatus(item).text }}
          </span>
        </div>
      </div>
      <hr>
      <div class="card_main_container py-3 px-3">
        <div class="text_section">
          <p class="fw-bold company-name">{{ item.customer }}</p>
          <p class="ph-num">{{ item.mobile }}</p>
        </div>
        <div class="button_section">
          <button class="submit_button" [disabled]="getStatus(item).dis">
            Pay Now
          </button>
        </div>
      </div>

      <div class="card_main_container2 py-2">
        <div class="my_section">
          <p class="method_section">Due Date</p>
          <p class="fw-bold date-time-delivery">
            {{ item.dueDate }}
          </p>
        </div>

        <div class="my_section">
          <p class="method_section">Due Amount</p>
          <p class="fw-bold">
            {{ item.total - item.paid }}
          </p>
        </div>

        <div class="my_section">
          <p class="method_section">Total Amount</p>
          <p class="fw-bold">
            {{ item.total | number:'1.2-2' }} </p>
        </div>
      </div>
    </div>
    }
  </div>
</ion-col>