.header_informer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;

  h2 {
    color: var(--orange);
    font-weight: 500;
  }
}

.Input_optSection {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 10px 0px;
}

.submit_button {
  margin-top: 140px !important;
}

.native-input.sc-ion-input-md {
  padding-left: 12px !important;
}

.form_content {
  border-top: 1px solid var(--neutral-200);
  border-radius: 20px;
}
