<div class="auth-container">
  @if (flow.step() === "forget-password") {
  <ion-page>
    <ion-col [fullscreen]="true">
      <div class="container-fluid custom-scrollbar">
        <div class="row">
          <div class="mt-2 ms-2">
            <a [routerLink]="['/auth']">
              <img src="assets/icon/back_button.png" height="30px" />
            </a>
          </div>
          <div class="text-center">
            <img src="assets/icon/forget_password.png" class="mt-3 mb-3" style="width: 350px; height: 250px" />
          </div>
          <div class="ion-padding form_content">
            <div class="d-flex justify-content-center">
              <hr class="w-25" />
            </div>

            <div class="header_informer text-center">
              <h2>FORGET PASSWORD</h2>
              <p>Enter email or mobile to get reset OTP</p>
            </div>
            <form class="mt-3 mb-5" [formGroup]="forgetPasswordForm">
              <div class="mb-3 d-flex flex-column">
                <ion-label>Enter your Email / Number <sub>*</sub></ion-label>

                <ion-input type="text" placeholder="Enter your email address / number" formControlName="email">
                </ion-input>

                @if (forgetPasswordForm.get('email')?.invalid &&
                (forgetPasswordForm.get('email')?.touched ||
                forgetPasswordForm.get('email')?.dirty)) {
                <div class="alert alert-danger mt-2">
                  @if (forgetPasswordForm.get('email')?.errors?.['required']) {
                  <div>Email is required.</div>
                  }
                  @if (forgetPasswordForm.get('email')?.errors?.['email']) {
                  <div>Email is invalid.</div>
                  }
                </div>
                }
              </div>
              <ion-button expand="block" class="mt-4" n (click)="sendOtp()"> Send OTP </ion-button>
            </form>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-page>
  }
  @if (flow.step() === "otp") {
  <ion-page>
    <ion-col [fullscreen]="true">
      <div class="container-fluid custom-scrollbar">
        <div class="row">
          <div class="mt-2 ms-2">
            <a routerLink="/auth/forgetPassword" (click)="goBack('forget-password')">
              <img src="assets/icon/back_button.png" height="30px" />
            </a>
          </div>
          <div class="text-center">
            <img src="assets/icon/otp_image.webp" class="mt-3 mb-3" style="width: 340px; height: 250px" />
          </div>
          <div class="ion-padding form_content">
            <div class="d-flex justify-content-center">
              <hr class="w-25" />
            </div>
            <div class="Header_informer text-center">
              <h2>ENTER OTP</h2>
              <p>OTP has been sent to  {{ flow.email() }}</p>
            </div>
            <form class="mt-3 mb-5" [formGroup]="otpForm">
              <ion-label>Enter your OTP</ion-label>
              <div class="otp_section d-flex justify-content-between mt-2">
                <ion-input maxlength="1" formControlName="d1" class="form_input border text-center"></ion-input>
                <ion-input maxlength="1" formControlName="d2" class="form_input border text-center"></ion-input>
                <ion-input maxlength="1" formControlName="d3" class="form_input border text-center"></ion-input>
                <ion-input maxlength="1" formControlName="d4" class="form_input border text-center"></ion-input>
                <ion-input maxlength="1" formControlName="d5" class="form_input border text-center"></ion-input>
                <ion-input maxlength="1" formControlName="d6" class="form_input border text-center"></ion-input>
              </div>
              <div class="text-center mt-3">
                @if (showTimer) {
                {{ minutes }}:{{ seconds | number:'2.0-0' }}
                } @else {
                <p class="resend_text">
                  Resend Your OTP
                </p>
                }
              </div>
              <ion-button expand="block" class="mt-4" (click)="verifyOtp()">
                Submit OTP
              </ion-button>
            </form>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-page>
  }
  @if (flow.step() === "reset-password") {
  <ion-page>
    <ion-col [fullscreen]="true">
      <div class="container-fluid custom-scrollbar">
        <div class="row">
          <div class="text-center">
            <img src="assets/icon/Login_svgImage.webp" class="mt-3 mb-3" style="width: 350px; height: 250px" />
          </div>
          <div class="ion-padding form_content">
            <div class="d-flex justify-content-center">
              <hr class="w-25" />
            </div>
            <div class="Header_informer text-center">
              <h2>RESET PASSWORD</h2>
              <p>Create a new Password</p>
            </div>
            <form [formGroup]="resetPasswordForm">
              <div class="mb-3 d-flex flex-column position-relative">
                <ion-label>Password</ion-label>
                <div class="input-container">
                  <ion-input [type]="passwordType" placeholder="Enter your password" formControlName="password">
                  </ion-input>
                  <ion-icon [name]="passwordIcon" (click)="togglePasswordVisibility()" class="icon_eye">
                  </ion-icon>
                </div>
                @if (
                resetPasswordForm.get('password')?.invalid &&
                (resetPasswordForm.get('password')?.touched ||
                resetPasswordForm.get('password')?.dirty)
                ) {
                <div class="alert alert-danger mt-2">
                  @if (resetPasswordForm.get('password')?.errors?.['required']) {
                  <div>Password is required.</div>
                  }
                  @if (resetPasswordForm.get('password')?.errors?.['minlength']) {
                  <div>Password must be at least 6 characters.</div>
                  }
                </div>
                }
              </div>
              <div class="mb-3 d-flex flex-column position-relative">
                <ion-label>Confirm Password</ion-label>
                <div class="input-container">
                  <ion-input [type]="passwordType" placeholder="Confirm your password"
                    formControlName="confirmPassword">
                  </ion-input>
                  <ion-icon [name]="passwordIcon" (click)="togglePasswordVisibility()" class="icon_eye">
                  </ion-icon>
                </div>
                @if (
                resetPasswordForm.get('confirmPassword')?.invalid &&
                (resetPasswordForm.get('confirmPassword')?.touched ||
                resetPasswordForm.get('confirmPassword')?.dirty)
                ) {
                <div class="alert alert-danger mt-2">
                  @if (resetPasswordForm.get('confirmPassword')?.errors?.['required']) {
                  <div>Confirm password is required.</div>
                  }
                </div>
                }
                @if (resetPasswordForm.errors?.['mismatch']) {
                <div class="alert alert-danger mt-2">
                  Passwords do not match
                </div>
                }
              </div>
              <span>show passWord</span>
              <ion-button expand="block" class="mt-4">
                Submit
              </ion-button>
            </form>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-page>
  }
</div>