.header_informer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;

  h2 {
    color: var(--orange);
    font-weight: 500;
  }
}
.submit_button {
  margin-top: 140px !important;
}
.native-input.sc-ion-input-md {
  padding-left: 12px !important;
}
.form_content {
  border-top: 1px solid var(--neutral-200);
  border-radius: 20px;
}
.otp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#timer {
  margin-top: 10px;
  font-size: 18px;
  color: var(--red);
}
.otp_section {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 10px 0px;

  ion-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container ion-input {
  flex: 1;
  padding-right: 30px; 
}
.input-container .icon_eye {
  position: absolute;
  right: 10px; 
  cursor: pointer;
  z-index: 99;
}
sub{
    font-size: 16px;
    font-weight: 600;
    color: red;
    position: relative;
    top: 0px;
    left: -2px;
}
