.input-container {
  position: relative;
  display: flex;
  align-items: center;

  ion-input {
    flex: 1;
    padding-right: 30px; 
  }

  .icon_eye {
    position: absolute;
    right: 10px;
    cursor: pointer;
    z-index: 99;
  }
}

.forget-password {
  color: var(--orange);
  text-align: end;
}

.form_content {
  border-top: 1px solid var(--neutral-200) !important;
  border-radius: 20px;
}
