.input-container {
  position: relative;
  display: flex;
  align-items: center;

  ion-input {
    flex: 1;
    padding-right: calc(30 * var(--px));
  }

  .icon_eye {
    position: absolute;
    right: calc(15 * var(--px));
    cursor: pointer;
    z-index: 99;
    font-size: calc(1.3 * var(--px));
    color: #a0b2b6;
  }
}

.forget-password {
  color: var(--orange);
  text-align: end;
}