<ion-col class="dashboard-content">
    <ion-row class="px-2">
        <ion-text class="w-100">
            <ion-header class="custom-header">
                <div class="header-container">
                    <div class="left-section">
                        <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359554_1280.png"
                            class="profile-img" />
                        <div class="text-section">
                            <h2>Hi, Raju</h2>
                            <p>Ready to deliver ?</p>
                        </div>

                        <!-- @else {
                        <div class="logo">
                            <div class="circle">
                                <span class="pl">
                                    <sup>P</sup> <sub>L</sub>
                                </span>
                            </div>
                            <div class="text">
                                <h1>Proxima</h1>
                                <p>Loogistics</p>
                            </div>
                        </div>
                        } -->
                    </div>
                    <div class="right-section">
                        <ion-icon [icon]="icons.notification"></ion-icon>
                        <span class="badge">5</span>
                        <ion-icon [icon]="icons.menu" (click)="openSidebar()"></ion-icon>
                    </div>
                </div>
            </ion-header>
            <div class="section">
                <router-outlet></router-outlet>
            </div>
        </ion-text>
    </ion-row>
    <div class="custom-tabs">
        <div class="tab-btn" [ngClass]="{active: urlEndPoint == '/driver/dashboard'}"
            (click)="navigate('/driver/dashboard')">

            <ion-icon [icon]="icons.dashboard"></ion-icon>
            <span>Home</span>
        </div>

        <div class="tab-btn" [class.active]="urlEndPoint == '/driver/orders'" (click)="navigate('/driver/orders')">

            <ion-icon [icon]="icons.orders"></ion-icon>
            <span>Orders</span>
        </div>

        <div class="tab-btn" [class.active]="urlEndPoint == '/driver/analytics'"
            (click)="navigate('/driver/analytics')">

            <ion-icon [icon]="icons.barChart"></ion-icon>
            <span>Analytics</span>
        </div>

        <div class="tab-btn" [class.active]="urlEndPoint == '/driver/settings'" (click)="navigate('/driver/settings')">

            <ion-icon [icon]="icons.settings"></ion-icon>
            <span>Settings</span>
        </div>

    </div>

</ion-col>

@if (viewSidebar) {
<ion-col class="sidebar" [class.open]="viewSidebar">
    <ion-row class="no-gap row g-0">
        <ion-text class="d-flex px-2 align-items-center mt-3">
            <ion-text class="sidebar-content">
                <div class="left-section">
                    <div class="img_section" appOutsideClickEmitter (clickOutSide)="closeOutside($event)">
                        <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359554_1280.png"
                            class="profile-img" (click)="logPopup()" />
                        @if(logPopupFlag){
                        <ion-text class="log_popup_section">
                            <ion-list class="p-0 m-0 g-0">
                                <ion-item class="d-flex">
                                    <ion-icon [icon]="logOut" class="settings me-2"></ion-icon>
                                    <ion-label>logOut</ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-text>
                        }
                    </div>
                    <div class="text-section">
                        <h2>Hi, Raju</h2>
                        <p>Ready to deliver ?</p>
                    </div>
                </div>
            </ion-text>
            <ion-icon (click)="openSidebar()" class="icon_menu" [icon]="icons.close">close</ion-icon>
        </ion-text>
        <ion-text>
            <div class="sidebar-menu">
                <ion-list>
                    @for (item of sidbarJson; track $index) {
                    <div (click)="goToPage()">
                        <ion-item class="d-flex">
                            <ion-icon [icon]="item.icon" class="dashboard me-2"></ion-icon>
                            <ion-label [routerLink]="[item.routerLink]">{{item.lable}}</ion-label>
                        </ion-item>
                    </div>
                    }
                </ion-list>
            </div>
        </ion-text>
    </ion-row>
</ion-col>
}
@if (viewSidebar) {
<div class="overlay" (click)="openSidebar()"></div>
}