<ion-row>
  <ion-col class="row g-0" style="background: none !important;">

    <ion-text class="Heading_top fw-bold mt-3">
      @if(bookingType == 'FTL'){
      Order Booking type: Partial truckload (FTL)
      }@else if (bookingType == 'PTL') {
      Order Booking type: Partial truckload (PTL)
      }
    </ion-text>

    <form action="" [formGroup]="booking">

      <ion-text class="px-2 py-3">
        <ion-text class="input_feild_section px-2 mt-2">
          <ion-text class="svg_content">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </ion-text>
          <ion-col class="Input_content p-0">
            <ion-item (click)="openPicker()" class="ion_item_date_modal">
              {{ selectedDate || 'Select Date & Time' }}
            </ion-item>
          </ion-col>
        </ion-text>
        <ion-col class="px-2 mt-2 position-relative">
          <ion-text class="input_feild_section px-2">
            <ion-text class="svg_content">
              <i class="fa fa-map-marker text-success"></i>
            </ion-text>
            <ion-text class="Input_content">
              <ion-input type="text" class="form_input" [value]="selectedPickup?.properties?.formatted"
                formControlName="pickup" (ionInput)="searchPickup($event)"
                placeholder="Where should we pick up your items?"></ion-input>
            </ion-text>
          </ion-text>
          @if (pickupResults.length > 0) {
          <ion-list class="dropdown-list">
            @for (item of pickupResults; track $index) {
            <ion-item (click)="selectPickup(item)">
              {{ item.properties.formatted }}
            </ion-item>
            }
          </ion-list>
          }
        </ion-col>
        <ion-col class="px-2 mt-2 position-relative">
          <ion-text class="input_feild_section px-2">
            <ion-text class="svg_content">
              <i class="fa fa-map-marker text-danger"></i>
            </ion-text>
            <ion-text class="Input_content">
              <ion-input type="text" class="form_input" [value]="selectedDelivery?.properties?.formatted"
                formControlName="delivery" (ionInput)="searchDelivery($event)"
                placeholder="Where should we delivery your items?"></ion-input>
            </ion-text>
          </ion-text>
          @if (deliveryResults.length > 0) {
          <ion-list class="dropdown-list">
            @for (item of deliveryResults; track $index) {
            <ion-item (click)="selectDelivery(item)">
              {{ item.properties.formatted }}
            </ion-item>
            }
          </ion-list>
          }
        </ion-col>
      </ion-text>
    </form>
  </ion-col>
</ion-row>
<ion-modal [isOpen]="isOpen" class="custom-modal" (didDismiss)="onModalDismiss()">
  <ng-template>
    <div class="picker-container">
      <ion-row class="date-time-row modern">
        <div class="date-container">
          <ion-input type="number" [(ngModel)]="day" class="box day" placeholder="DD"></ion-input>
          <select [(ngModel)]="month" class="box month">
            <option *ngFor="let m of months" [value]="m">{{m}}</option>
          </select>
          <ion-input type="number" [(ngModel)]="year" class="box year" placeholder="YYYY"></ion-input>
        </div>
        <div class="time-container">
          <ion-input type="number" [(ngModel)]="hour" class="box time-box" placeholder="HH"></ion-input>
          <span class="separator">:</span>
          <ion-input type="number" [(ngModel)]="minute" class="box time-box" placeholder="MM"></ion-input>
          <select [(ngModel)]="ampm" class="box ampm-box">
            <option>AM</option>
            <option>PM</option>
          </select>
        </div>
      </ion-row>
      <ion-datetime presentation="date" [(ngModel)]="calendarDate" (ionChange)="onDateChange($event)">
      </ion-datetime>
      <ion-button expand="block" (click)="confirm()">
        Done
      </ion-button>
    </div>
  </ng-template>
</ion-modal>