<ion-text class="container-fluid custom-scrollbar">
  <ion-text class="row" style="background: none !important">
    <ion-text class="w-100 g-0 mt-3">
      <ion-text class="p-5 text-center">
        <h5 class="fw-bold top_hedding">Share Your Feedback</h5>
        <img src="../../../assets/icon/feedbackImage .png" class="img-fluid" alt="">

        <ion-text class="star_svg_section">

          <p class="fw-bold">Rate your Delivery Experience ?</p>
          <ion-text class="w-50 Svg_container ">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>

          </ion-text>


        </ion-text>


        <ion-item lines="none mt-3">
          <ion-text class="feedback_input py-2">
            <p class="text-start ms-2 fw-bold" style="    position: relative;top: 11px;left: 4px;">Add a detailed Review
            </p>
            <textarea placeholder="Tell us About your Delivery Experience Here.." rows="4"></textarea>


          </ion-text>
        </ion-item>
        <ion-text class="px-3 w-100">
          <ion-button type="submit" class="submit_button mt-3 col-11">
            Submit
          </ion-button>
        </ion-text>



        <ion-item class="mt-4" lines="none">
          <ion-text class="Main_banner_container g-0">
            <ion-text>
              <img src="../../../assets/icon/Oraneg_truck_banner.jpg" class="img-fluid" alt="">
            </ion-text>

            <ion-text style="background-color: rgb(255, 227, 190);">
              <h6 class="fw-bold ms-2 mt-3">Order Pickup & delivery Mode Easy!</h6>
              <p class="ms-2">Place Order Offortlessly for your goods Delivers!</p>
            </ion-text>

          </ion-text>
        </ion-item>

        <ion-text class="mt-3" lines="none">
          <ion-text class="dashboard_top mb-2 mt-4">
            <ion-text class="ptl_section shadow ">
              <ion-text class="ptl_imgsection">
                <img src="../../../assets/icon/interior-large-logistics-warehouse-ai-generative.jpg" alt=""
                  style="width: -webkit-fill-available" />
              </ion-text>
              <ion-text class="text_section px-2 py-1">
                <h6 class="Card_text ms-1">Order Pickup & delivery Mode Easy!</h6>
                <p style="color: rgb(184, 183, 183); text-align: justify;">Place Order Offortlessly for your goods Delivers!</p>
              </ion-text>
            </ion-text>
            <ion-text class="ptl_section shadow ">
              <ion-text class="ptl_imgsection">
                <img src="../../../assets/icon/ptliimage2.jpg" style="width: -webkit-fill-available" alt="" />
              </ion-text>
              <ion-text class="text_section px-2 py-1">
                <h6 class="Card_text ms-1">Order Pickup & delivery Mode Easy!</h6>
                <p style="color: rgb(184, 183, 183); font-size: smaller;text-align: justify; ">Place Order Offortlessly for your goods
                  Delivers!
                </p>
              </ion-text>
            </ion-text>
          </ion-text>
        </ion-text>


      </ion-text>
    </ion-text>
  </ion-text>
</ion-text>